<header>
  <h2>Create New User</h2>
</header>
<form [formGroup]="newForm">
  <ul>
    <li>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" formControlName="username">
      <div *ngIf="newForm.controls.username.errors?.pattern" class="error">
        Only letters, numbers and spaces are allowed.
      </div>
    </li>
    <li>
      <label for="password">Password</label>
      <input type="text" name="password" id="password" formControlName="password" placeholder="minimum six characters">
    </li>
  </ul>
  <button type="button" [disabled]="!newForm.valid" (click)="onSubmit(newForm.value)">Add User</button>
</form>